.pro-para {
    font-size: 17px;
  }


  .image-cover-personal img {
    width: 60px;
  }
  
  .image-cover-personal h5 {
    text-align: center;
    margin: 0;
    font-size: 17px;
  }

  /* @media  screen and (max-width:1024px) {
    .pro-para {
        font-size: 13px;
      }
      .image-cover-personal img {
        width: 54px;
      }
  } */


  @media  screen and (max-width:1024px) {
    .pro-para {
        font-size: 14px;
      }
      .image-cover-personal img {
        width: 54px;
      }
  }


  @media  screen and (max-width:468px) {
    .pro-para {
        font-size: 13px;
      }
  }

  @media  screen and (max-width:398px) {
    .pro-para {
        font-size: 13px;
      }
  }