.pro-para {
    font-size: 17px;
  }


  .image-cover-personal img {
    width: 60px;
  }
  
  .image-cover-personal h5 {
    text-align: center;
    margin: 0;
  }

  @media  screen and (max-width:798px) {
    .pro-para {
        font-size: 17px;
      }
  }


  @media  screen and (max-width:468px) {
    .pro-para {
        font-size: 17px;
      }
  }

  @media  screen and (max-width:398px) {
    .pro-para {
        font-size: 15px;
      }
  }