.Slider-grid {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
  }

.fagg{
    border: 2px solid #5C8164;
    font-size: 8rem;
    padding: 10px;
}