


.showneximg img {
  max-width: 128px;
}

.work-ex img {
  width: 235px;
}

.arrow-img-ex{
  width: 177px !important;
}


@media screen and (max-width:1000px) {

  .work-ex img {
    width: 145px;
  }

}


@media screen and (max-width:530px) {

  .work-ex img {
    width: 117px;
  }

  .arrow-img-ex {
    width: 130px !important;
}

}


@media screen and (max-width:435px) {
  
  .small-imgs {
    width: 90px !important;
  }
  
}

@media screen and (max-width:375px) {

  .small-imgs {
    width: 60px !important;
  }
  
}

