.title-work img{
    width: 35px;
}


.title-work h4{
    margin: 0px;
    margin-left: 8px;
}


@media  screen and (max-width:720px) {
    .title-work h4{
        font-size: 17px;
    }

    
}





.work-exa img{
    width:226px ;
}


.add-more{
    border: none;
    background-color: white;
    font-size: 18px;
    color: blue;
    float: right;

}





/* Hide the default checkbox */
.container-of-check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
   }
   
   
   
   /* Create a custom checkbox */
   .checkmark {
    position: relative;
    top: 0;
    left: 0;
    height: 1.3em;
    width: 1.3em;
    background-color: #ccc;
    border-radius: 25px;
    transition: 0.15s;
   }
   
   /* When the checkbox is checked, add a blue background */
   .container-of-check input:checked ~ .checkmark {
    background-color: limegreen;
    border-radius: 25px;
    transition: 0.15s;
   }
   
   /* Create the checkmark/indicator (hidden when not checked) */
   .checkmark:after {
    content: "";
    position: absolute;
    display: none;
   }
   
   /* Show the checkmark when checked */
   .container-of-check input:checked ~ .checkmark:after {
    display: block;
   }
   
   /* Style the checkmark/indicator */
   .container-of-check .checkmark:after {
    left: 0.45em;
    top: 0.25em;
    width: 0.25em;
    height: 0.5em;
    border: solid white;
    border-width: 0 0.15em 0.15em 0;
    transform: rotate(45deg);
   }

  .box-with-check {
    border: 1px solid rgb(196, 194, 194);
    padding: 6px;
    border-radius: 7px;
    
  }