.title-work img{
    width: 35px;
}


.title-work h4{
    margin: 0px;
    margin-left: 8px;
}

.boxed{
  border: 2px solid grey;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-left: 8px;
  /* padding: 0 20px; */
}
.DLT-BTN{
 
  /* border: 2px solid red; */
}
@media  screen and (max-width:720px) {
    .title-work h4{
        font-size: 17px;
    }

    
}





.work-exa img{
    width:226px ;
}


.add-more{
    border: none;
    background-color: white;
    font-size: 18px;
    color: blue;
    float: right;

}





/* Hide the default checkbox */
.container-of-check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
   }
   
   .form-control{

   }
   
   /* Create a custom checkbox */
   .checkmark {
    position: relative;
    top: 0;
    left: 0;
    height: 1.3em;
    width: 1.3em;
    background-color: #ccc;
    border-radius: 25px;
    transition: 0.15s;
   }
   
   /* When the checkbox is checked, add a blue background */
   .container-of-check input:checked ~ .checkmark {
    background-color: limegreen;
    border-radius: 25px;
    transition: 0.15s;
   }
   
   /* Create the checkmark/indicator (hidden when not checked) */
   .checkmark:after {
    content: "";
    position: absolute;
    display: none;
   }
   
   /* Show the checkmark when checked */
   .container-of-check input:checked ~ .checkmark:after {
    display: block;
   }
   
   /* Style the checkmark/indicator */
   .container-of-check .checkmark:after {
    left: 0.45em;
    top: 0.25em;
    width: 0.25em;
    height: 0.5em;
    border: solid white;
    border-width: 0 0.15em 0.15em 0;
    transform: rotate(45deg);
   }

  .box-with-check {
    border: 1px solid rgb(196, 194, 194);
    padding: 6px;
    border-radius: 7px;
    
  }

  .work-wraper{
    /* display: flex; */
    overflow: hidden;
  }

  .lower-job-wraper{
  /* border: 2px solid red; */
  overflow: hidden;
  }

  .workingExprincebtn{
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
  }
  .workingExprincebtn button{
    padding: 5px 20px;
    border-radius: 5px;
    /* background-color: aqua; */
  }

  .workingExprincebtn button:hover{
    background-color: #ccc;
  }


  .DLT-BTN{
    position: absolute;
    /* border: 2px solid red; */
    /* display: inline; */
    left: 80%;
    /* width: 100%; */
    /* display: none; */
    width: 90px;
    margin-bottom: 30px !important;
    /* bottom: 1%; */
  }
  .bana-do{
    /* border: 2px solid red; */
  }

  /* .tooltip{
    border: 2px solid red;
    background-color: green !important
  } */
  .DLT-BTN button {
    display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 padding: 1em;
 border: 0px solid transparent;
 background-color: rgba(0, 0, 0, 0.08);
 border-radius: 1.25em;
 transition: all 0.2s linear;
  }

  .DLT-BTN button:hover {
    box-shadow: 3.4px 2.5px 4.9px rgba(0, 0, 0, 0.025),
     8.6px 6.3px 12.4px rgba(0, 0, 0, 0.035),
     17.5px 12.8px 25.3px rgba(0, 0, 0, 0.045),
     36.1px 26.3px 52.2px rgba(0, 0, 0, 0.055),
     99px 72px 143px rgba(0, 0, 0, 0.08);
   }

   .tooltips {
    position: relative;
    display: inline-block;
   }

   .tooltips .tooltiptext {
    visibility: hidden;
    width: 4em;
    background-color: rgba(0, 0, 0, 0.253);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 25%;
    left: 110%;
   }

   .tooltips .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent rgba(0, 0, 0, 0.253) transparent transparent;
   }

   .tooltips:hover .tooltiptext {
    visibility: visible;
   }
  
