.my-job-box img{
    width: 100%;
    cursor: pointer;
    /* aspect-ratio: 3/2; */
    /* height: 30px; */
}

.job-imgs img{
  width:100%;
}

.side-man{
   max-width: 140px;
}



/* MyJob.css */

.my-job-container {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
 /* padding: 12px 0 12px; */
  }


  .job-imgs .col-md-2 img{
    width: 130px;
    
   }
 
@media (max-width: 767px) {
    /* Your mobile-specific styles go here */
    /* body {
      font-size: 14px; 
    } */
  
   .my-job-container{
    flex-wrap: wrap;
   }
   .job-imgs .col-md-2 img{
    width: 127px;
    
   }
   .side-man{
    width: 100px;
   }


   
   #job-btn{
    border-radius: 15px;
    background-color: #447D8E;
    color: white;
    font-size: 10px;
    padding: 4px 4px;
  }

   
  }


  


  #job-btn{
    border-radius: 15px;
    background-color: #447D8E;
    color: white;
    padding: 8px 8px;
  }

  
  
