.my-job-box img{
    width: 100%;
    cursor: pointer;
    /* height: 30px; */
}

.side-man{
   max-width: 200px;
}

.sider-man-card button{
    width: 30%;
    margin: auto;
    border-radius: 20px;
    padding: 12px;
    color: white;
    background-color: #447D8E;
    font-size: 22px;
}


/* MyJob.css */

.my-job-container {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
 padding: 12px 0 12px;
  }

 
@media (max-width: 767px) {
    /* Your mobile-specific styles go here */
    /* body {
      font-size: 14px; 
    } */
  
   .my-job-container{
    flex-wrap: wrap;
   }
   .job-imgs .col-md-2 img{
    width: 150px;
    margin-top: 10px;
    margin-left: 80px;
   }
   .side-man{
    width: 100px;
   }
   #job-btn{
   height: 50px;
   width: 100px;

   }
  }

  
  
