


.all-input input{
    width: 100%;
    margin: 9px;
    padding: 15px;
    border: 1px solid gray;
    height: 40px;
    border-radius: 5px;
}

.all-input img{
   width: 32px;
    
}

.all-input input::placeholder{
    font-size: 12px;
}

.all-input input{
    font-size: 12px;
    padding: 8px;
}

.all-input h5{
    font-size: 16px;
}