

.date-input input {
    margin: 9px;
    padding: 8px;
    border: 1px solid #dedede;
    height: 40px;
    font-size: 12px;
    border-radius: 5px;
}

.date-input input::placeholder{
    font-size: 12px;
}

.date-input h5{
    font-size: 16px;
}


.date-input img{
    width: 32px;
     
 }



 .h5-cover {
    width: 111px;
    text-align: center;
    /* border: 2px solid;    */
}



@media screen and (max-width:768px) {
    
}

 @media only screen and (max-width: 540px) {
    .lable{
        display: none;
    }

    .h5-cover {
       display: none;
         
    }
    
 }

 .hide{
    display: none;
 }



