.contact-section {
	padding: 130px 0 100px
}

@media (max-width: 991px) {
	.contact-section {
		padding: 70px 0 40px
	}
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
	.contact-section {
		padding: 80px 0 50px
	}
}

.contact-section .btn_2 {
	background-color: #191d34;
	padding: 18px 60px;
	border-radius: 50px;
	margin-top: 0
}

.contact-section .btn_2:hover {
	background-color: #1f2b7b
}



.contact-title {
	font-size: 27px;
	font-weight: 600;
	margin-bottom: 20px
}

.form-contact label {
	font-size: 14px
}

.form-contact .form-group {
	margin-bottom: 30px
}

.form-contact .form-control {
	border: 1px solid #e5e6e9;
	border-radius: 0px;
	height: 48px;
	padding-left: 18px;
	font-size: 13px;
	background: transparent
}

.form-contact .form-control:focus {
	outline: 0;
	box-shadow: none
}

.form-contact .form-control::placeholder {
	font-weight: 300;
	color: #999999
}

.form-contact textarea {
	border-radius: 0px;
	height: 100% !important
}








.comments-area .comment {
	margin-bottom: 10px;
	color: #777777;
	font-size: 15px
}

.comments-area .btn-reply {
	background-color: transparent;
	color: #888888;
	padding: 5px 18px;
	font-size: 14px;
	display: block;
	font-weight: 400
}

.comment-form {
	border-top: 1px solid #eee;
	padding-top: 45px;
	margin-top: 50px;
	margin-bottom: 20px
}

.comment-form .form-group {
	margin-bottom: 30px
}

.comment-form h4 {
	margin-bottom: 40px;
	font-size: 18px;
	line-height: 22px
}

.comment-form .name {
	padding-left: 0px
}

@media (max-width: 767px) {
	.comment-form .name {
		padding-right: 0px;
		margin-bottom: 1rem
	}
}

.comment-form .email {
	padding-right: 0px
}

@media (max-width: 991px) {
	.comment-form .email {
		padding-left: 0px
	}
}

.comment-form .form-control {
	border: 1px solid #f0e9ff;
	border-radius: 5px;
	height: 48px;
	padding-left: 18px;
	font-size: 13px;
	background: transparent
}

.comment-form .form-control:focus {
	outline: 0;
	box-shadow: none
}

.comment-form .form-control::placeholder {
	font-weight: 300;
	color: #999999
}

.comment-form .form-control::placeholder {
	color: #777777
}

.comment-form textarea {
	padding-top: 18px;
	border-radius: 12px;
	height: 100% !important
}

.comment-form ::-webkit-input-placeholder {
	font-size: 13px;
	color: #777
}

.comment-form ::-moz-placeholder {
	font-size: 13px;
	color: #777
}

.comment-form :-ms-input-placeholder {
	font-size: 13px;
	color: #777
}

.comment-form :-moz-placeholder {
	font-size: 13px;
	color: #777
}


.contact-info h3{
	font-size: 18px;

}


.contact-info{
	display : flex;
	margin-bottom: 18px;
	justify-content : center;
	align-items : center;
	gap: 15px;
}


.contact-info__icon{
	font-size: 30px;
	color: gray;
}



.button-contactForm {
    background: #fff;
    color: #87b724;
    display: inline-block;
    padding: 18px 44px;
    font-family: "Muli", sans-serif;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid #87b724;
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.4s, color 0.4s;
}

.button-contactForm:hover {
    background-color: #87b724;
    color: #fff;
}
