/* NavbarComponent.css */
.home-dash .navbar {
    padding: 8px;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  
  .home-dash{
    height: auto;
    /* padding: 10px; */
    margin-bottom: 10px;
  }
  
  


 
 


 

  /* Fill color based on slider value */
  
  
  
  /* Center the container content */

  