/* NavbarComponent.css */

  
  .employed-dashbaord{
    height: auto;
    /* padding: 10px; */
    margin-bottom: 10px;
    display: flex;
  }
  
  @media screen and (max-width:768px) {
  
  .employed-dashbaord{
    /* flex-direction: column; */
    flex-wrap: wrap;
  }
  }
  


 
 


 

  /* Fill color based on slider value */
  
  
  
  /* Center the container content */

  