.education-box .img1{
    width: 241px;
}



.education-box .img2{
    width: 35px;
    margin-right: 8px;
}


.education-box h5{
    margin: 0px;
    font-size: 17px;
}

.DLT-BTN-EDUCAtion{
    /* border: 2px solid red; */
    /* margin-top: 10px; */
    position: absolute;
   right: 0;
    /* padding: 20px; */
    width: 50px;
    /* margin-bottom: 10px !important; */
    /* bottom: 28%; */
    top: 1%;
    
}

.edu-box{
    /* border: 2px solid grey; */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 15px 20px;
    position: relative;
}