.button-home-dash{
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
justify-content: space-between;
}


 
 
@media screen and (max-width:768px) {
  .button-home-dash{
    justify-content: space-evenly;
  }
}


 

  /* Fill color based on slider value */
  
  
  
  /* Center the container content */

  