.Job-Box-single {
	padding: 15px 10px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	-webkit-transition: .4s;
	-moz-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
	    border: 1px solid #39677838;
    margin-bottom: 12px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.Job-Box-single {
		padding: 20px 7px
	}
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
	.Job-Box-single {
		padding: 20px 25px
	}
}




.Job-Box-single .company-img img {
	overflow: hidden;
	float: left;
	width: 82px;
	/* margin-right: 32px; */
	z-index: 9;
	border: 1px solid #5c8164;
}

@media (max-width: 767px) {
	.Job-Box-single .job-tittle {
		padding-top: 25px
	}
}

.Job-Box-single .job-tittle a h4 {
	color: #5c8164;
	font-size: 18px;
	-webkit-transition: .4s;
	-moz-transition: .4s;
	-o-transition: .4s;
	transition: .4s
}

.Job-Box-single .job-tittle a h4:hover {
	color: #8b92dd
}

.Job-Box-single .job-tittle{
    margin-left: 10px;
}


.Job-Box-single .job-tittle ul li {
	display: inline-block;
	margin-right: 24px;
	font-size: 15px;
	color: #808080;
	line-height: 1.8
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.Job-Box-single .job-tittle ul li {
		margin-right: 18px
	}
}

@media (max-width: 767px) {
	.Job-Box-single .job-tittle  {
		margin-left: 0px
	}
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
	.Job-Box-single .job-tittle ul li {
		margin-right: 8px
	}

    .Job-Box-single .job-tittle{
        margin-left: 0px;
    }

}



.Job-Box-single .job-tittle ul li i {
	font-size: 14px;
	color: #bbbbbb;
	margin-right: 10px
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.Job-Box-single .job-tittle2 {
		padding-top: 25px
	}
}

.Job-Box-single:hover {
	box-shadow: 0px 22px 57px 0px rgba(34, 41, 72, 0.05)
}

.Job-Box-single .job-items {
	display: flex;
	flex-wrap: wrap
}


.Appy-Btn {
    font-size: 13px;
    text-align: center;
    line-height: 20px;
    letter-spacing: normal;
    color: #74884b;
    background-color: #ffffff;
    border: 1px solid #74884b;
    border-radius: 20px;
    padding: 6px 15px;
    margin: 3px;
    transition: 0.4s;
}

.Appy-Btn:hover{
   
    color: #ffffff;
    background-color: #74884b;
}


.items-link{
    gap: 10px;
    display : flex;
    justify-content : center;
    align-items : center;
    flex-direction: column;
}


@media only screen and (max-width: 419px) {
	
.Appy-Btn {
    font-size: 12px;
    text-align: center;
    line-height: 14px;
    letter-spacing: normal;
    color: #74884b;
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 20px;
    padding: 6px 10px;
    margin: 3px;
    transition: 0.4s;
}
}


@media only screen  and (max-width: 991px)and (min-width:767px) {
	.Job-Box-single .items-link{
        margin-top: 10px;
    }
}