


.SingleTitleBar input {
    width: 100%;
    margin: 9px;
    padding: 15px;
    border: 1px solid #dedede;
    height: 40px;
    border-radius: 5px;
}

.SingleTitleBar img{
   width: 29px;
    
}




.SingleTitleBar input::placeholder{
    font-size: 12px;
}

.SingleTitleBar input{
    font-size: 12px;
    padding: 8px;
}

.SingleTitleBar h5{
    font-size: 16px;
}


@media screen and (max-width:768px) {
    .SingleTitleBar h5{
        font-size: 14px;
    }
}