.tip-box-dad {
    grid-template-columns: repeat(3, 1fr); /* One column */
    gap: 20px; /* Adjust the gap between the boxes */
    margin-top: 15px;
}

.tip-box {
    /* background-color: #ddd; */
    border: 1px solid #74884b;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
}


.tip-box h5{
    padding: 10px 5px;
}

.tip-box img{
   width: 100px;
}

@media (max-width: 768px) {
    .tip-box-dad {
        grid-template-columns: repeat(2, 1fr); /* Two columns for smaller screens */
    }
}

@media (max-width: 576px) {
    .tip-box-dad {
        grid-template-columns: repeat(1, 1fr); /* One column for even smaller screens */
    }
}

