.profile-dash{

    display : flex;
    justify-content : center;
    align-items : center;
    width: 100%;
  }

  .profile-dash h4{
    color: #3c6678;
  }

  

  .three-btn {
    width: 40px;
    height: 40px;
    color: rgb(241, 238, 238);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8FAA46;
    border-radius: 50%;
    cursor: pointer;
    margin: 3px;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.13);
    border: none;
  }
  
  
  
  .three-btn  path {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    fill: white;
  }
  
  .three-btn:hover {
    background-color: #3C6679;
  }
  
  .three-btn:hover path  {
    animation: bellRing 0.9s both;
  }
  
  /* bell ringing animation keyframes*/
  @keyframes bellRing {
    0%,
    100% {
      transform-origin: top;
    }
  
    15% {
      transform: rotateZ(10deg);
    }
  
    30% {
      transform: rotateZ(-10deg);
    }
  
    45% {
      transform: rotateZ(5deg);
    }
  
    60% {
      transform: rotateZ(-5deg);
    }
  
    75% {
      transform: rotateZ(2deg);
    }
  }
  
  .three-btn:active {
    transform: scale(0.8);
  }

  
  /*  */

  .progress-bar-dash h4{
    color: #3c6678;
  }

  .border-hai{
    border-left: 6px solid #ADB949;
padding: 18px;

  }

 
  .success{
    color:#ADB949;
  }

  .dash-para p{
    margin: 0px ;
  }


  .profile-img-box {
    width: 100%;
    display : flex;
    justify-content : center;
    align-items : center;
    /* position: relative; */
    flex-direction: column;
  }

  .pr

  .profile-dash img{
    width: 80px;
    height: auto;
    border: 2px solid rgb(45, 155, 43);
    border-radius: 50%;
    filter: drop-shadow(0px 0px 6px rgb(31, 32, 32));
  }


  /* .buttons-profile button{
    padding: 6px;
    margin: 8px;

    color: white;
    background-color: rgb(255, 137, 156);
    border-radius: 50%;
  } */

  .buttons-profile{
    display: flex;
    position: relative;
  }

  .buttons-profile input[type="file"] {
    position: absolute;
    top: 4px;
    left: 3px;
    width: 33px;
    font-size: 2px;
    /* width: 55%; */
    height: 33px;
    border: 2px solid;
    opacity: 0;
    /* z-index: 1; */
    cursor: pointer;
}
 
  /* .buttons-profile button:hover{
    background-color: rgb(209, 84, 105);
  }

  .buttons-profile svg{
    font-size: 19px;
  } */

  .profile-cover-dash{
    padding: 18px;
  }

  .slider-prog {
    position: relative;
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background-color: #4158D0;
    outline: none;
    opacity: 0.7;
    transition: opacity 0.2s;
  }
  
  .slider-prog::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #4c00ff;
    background-image: linear-gradient(160deg, #4900f5 0%, #80D0C7 100%);
    cursor: pointer;
  }
  
  .slider-prog::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    cursor: pointer;
  }
  .profile-image-container {
    position: relative;
    width: 82px;
    height: 82px;
    box-shadow: #8faa46 0px 0px 6px;
    border: 2px solid #8faa46;
    overflow: hidden;
    border-radius: 50%;
}
  #profile-pic-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  /* Fill color based on slider value */
  
  
  
  /* Center the container content */

  