.upper-nav img {
  width: 200px;
}


.dash-nav {
  height: auto;
}





.bigSizeImg{
  width: 138px !important ;
}


@media screen and (max-width:606px) {
  .upper-nav img {
    width: 125px ;
  }

  
.bigSizeImg{
  width: 116px !important ;
}
}









/* 
    .personal-hai {
        width: 150px;
    }
    
    
    .personal-hai img {
        width: 100%;
    } */