.upper-nav img {
  width: 140px;
}


.dash-nav {
  height: auto;
}

@media screen and (max-width:606px) {
  .upper-nav img {
    width: 125px ;
  }
}










/* 
    .personal-hai {
        width: 150px;
    }
    
    
    .personal-hai img {
        width: 100%;
    } */