.cover-of-select {
    position: relative;
    width: 100%;

}


.cover-of-select svg path{
    color: rgb(154, 149, 149);
}

.arrow-down-icon {
    float: right;
    position: absolute;
    /* z-index: 5; */
    right: 8px;
    
    bottom: 8px;
    /* float: right; */
}

