/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* .totally-plans-cover {
    background-image: linear-gradient(to right, rgb(57, 103, 120), rgb(86 91 75));
} */


.plan-cover {
    display: flex;
    padding: 0 9px;
    align-items: center;
    justify-content: center;
    min-height: auto;

}



.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1019px;
    width: 100%;
    position: relative;
}

.wrapper i {
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    z-index: 3;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
}

.wrapper i:active {
    transform: translateY(-50%) scale(0.85);
}

.wrapper i:first-child {
    left: -22px;
}

.wrapper i:last-child {
    right: -22px;
}

.wrapper .carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 4) - 12px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel.no-transition {
    scroll-behavior: auto;
}

.carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.carousel.dragging .card {
    cursor: grab;
    user-select: none;
}

.carousel :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel .card {
    scroll-snap-align: start;
    height: auto;
    list-style: none;
    /* background: #3e3e3e; */
    cursor: pointer;
    /* padding-bottom: 15px; */
    flex-direction: column;
    border-radius: 8px;
}

/* .carousel .card .img {
  background: #8B53FF;
  height: 148px;
  width: 148px;
  border-radius: 50%;
} */
.card .img img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #fff;
}

.carousel .card h2 {
    font-weight: 500;
    font-size: 1.56rem;
    margin: 30px 0 5px;
}

.carousel .card span {
    color: #ffffff;
    font-size: 1.31rem;
}






.snip1517 {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    color: #ffffff;
    text-align: left;
    font-size: 16px;
    width: 100%;
    max-width: 1000px;
    margin: 10px 10px;
}

.snip1517 img {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    z-index: -1;
}

.snip1517 .plan {
    margin: 0 0.5%;
    width: 100%;
    height: 100%;

    position: relative;
    float: left;
    overflow: hidden;
    background-color: #222f3d;
    border-radius: 8px;
}

.snip1517 .plan:hover i,
.snip1517 .plan.hover i {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.snip1517 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
}

.snip1517 header {
    color: #ffffff;
}

.snip1517 .plan-title {
    line-height: 60px;
    position: relative;
    margin: 0;
    padding: 0 18px;
    color: #90aa47;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 700;
}

.snip1517 .plan-title:after {
    position: absolute;
    content: '';
    top: 100%;
    left: 20px;
    width: 30px;
    height: 3px;
    background-color: #fff;
}

.snip1517 .plan-cost {
    padding: 0 20px;
    margin: 0;
}

.snip1517 .plan-price {
    font-weight: 400;
    font-size: 2.8em;
    margin: 10px 0;
    display: inline-block;
}



.snip1517 .plan-features {
    padding: 0 0 20px;
    margin: 0;
    list-style: outside none none;
    font-size: 0.9em;
}

.snip1517 .plan-features li {
    padding: 8px 10px;
    color: white;
}

.snip1517 .plan-features i {
    display: none;
    /* margin-right: 8px; */
    color: rgba(252, 250, 250, 0.5);
}

.snip1517 .plan-select {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding: 14px;
    text-align: center;
}

.snip1517 .plan-select a {
    background-color: #86A04D;
    color: #ffffff;
    text-decoration: none;
    padding: 12px 20px;
    font-size: 0.75em;

    font-weight: 800;
    border-radius: 8px;
    text-transform: uppercase;
    letter-spacing: 4px;
    display: inline-block;
}

.snip1517 .plan-select a:hover {
    background-color: #1b8ad8 !important;
}

.snip1517 .featured {
    /* margin-top: -10px; */
    z-index: 1;
    border-radius: 8px;
    border: 2px solid #156dab;
    background-color: #156dab;
}

/* .snip1517 .featured .plan-select {
  padding: 30px 20px;
} */

.snip1517 .featured .plan-select a {
    background-color: #10507e;
}

@media only screen and (max-width: 767px) {
    .snip1517 .plan {
        width: 100%;
        /* margin: 0.5%; */
    }

    .snip1517 .plan-title,
    .snip1517 .plan-select a {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    .snip1517 .plan-select,
    .snip1517 .featured .plan-select {
        padding: 10px;
    }

    .snip1517 .featured {
        margin-top: 0;
    }

    .snip1517 .featured header {
        line-height: 70px;
    }
}

@media only screen and (max-width: 440px) {
    .snip1517 .plan {
        /* margin: 0.5% 0; */
        width: 100%;
    }
}


@media screen and (max-width: 900px) {
    .wrapper .carousel {
        grid-auto-columns: calc((100% / 2) - 9px);
    }
}

@media screen and (max-width: 600px) {
    .wrapper .carousel {
        grid-auto-columns: 100%;
    }
}



#left {
    top: 50%;
    height: auto;
    width: 31px;
    cursor: pointer;
    z-index: 3;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #86a04d;
    color: white;
    left: -14px;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
}


#right {
    top: 50%;
    height: auto;
    width: 31px;
    cursor: pointer;
    z-index: 3;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #86a04d;
    color: white;
    right: -12px;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
}


/* toogle */

.plans-head {
    padding: 10px;
    display: flex;
    flex-direction: column;
    /* justify-content : center; */
    align-items: center;
}

.plans-head h4 {
    font-weight: 800;
    font-size: 27px;
    margin-top: 15px;
    color: #3e5b6e;
    text-transform: uppercase;
}


.plans-head p {
    margin: 5px 0px;
    color: #90aa47;
}

/*  */

.plans-head .toggleContainer {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: fit-content;
    border: 3px solid #343434;
    border-radius: 20px;
    background: #343434;
    font-weight: bold;
    color: #343434;
    cursor: pointer;
}

.plans-head .toggleContainer::before {
    content: '';
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0%;
    border-radius: 20px;
    background: #90aa47;
    transition: all 0.3s;
}

.plans-head .toggleCheckbox:checked+.toggleContainer::before {
    left: 50%;
}

.plans-head .toggleContainer div {
    padding: 6px;
    text-align: center;
    z-index: 1;
}

.plans-head .toggleCheckbox {
    display: none;
}

.plans-head .toggleCheckbox:checked+.toggleContainer div:first-child {
    color: white;
    transition: color 0.3s;
}

.plans-head .toggleCheckbox:checked+.toggleContainer div:last-child {
    color: #f3efef;
    transition: color 0.3s;
}

.plans-head .toggleCheckbox+.toggleContainer div:first-child {
    color: #f4eeee;
    transition: color 0.3s;
}

.plans-head .toggleCheckbox+.toggleContainer div:last-child {
    color: white;
    transition: color 0.3s;
}

.snip1517 .plan-type {
    opacity: 0.8;
    font-size: 14px !important;
    /* text-transform: uppercase; */
}



@media screen and (max-width:592px) {
    .plan-cover {
        display: flex;
        padding: 0 8px;
        align-items: center;
        justify-content: center;
        min-height: auto;
    }

    .plans-head h4 {
        font-weight: 800;
        font-size: 22px;
        margin-top: 15px;
        text-transform: uppercase;
    }

    .plans-head .toggleContainer div {
        padding: 6px;
        font-size: 12px;
        text-align: center;
        z-index: 1;
    }
}