.input-group-icon {
    position: relative
}

.input-group-icon .icon {
    position: absolute;
    left: 20px;
    top: 4px;
	color: #90AA47;
    line-height: 40px;
    z-index: 3;
}

.input-group-icon .icon i {
    color: #797979
}

.input-group-icon .single-input {
    padding-left: 45px
}

.single-textarea {
    display: block;
    width: 100%;
    line-height: 40px;
    border: none;
    outline: none;
    background: #f9f9ff;
    padding: 0 20px;
    height: 100px;
    resize: none
}

.single-textarea:focus {
    outline: none
}

.single-input-primary {
    display: block;
    width: 100%;
    line-height: 40px;
    border: 1px solid transparent;
    outline: none;
    background: #f9f9ff;
    padding: 0 20px
}

.single-input-primary:focus {
    outline: none;
    border: 1px solid #1f2b7b
}

.single-input-accent {
    display: block;
    width: 100%;
    line-height: 40px;
    border: 1px solid transparent;
    outline: none;
    background: #f9f9ff;
    padding: 0 20px
}

.single-input-accent:focus {
    outline: none;
    border: 1px solid #eb6b55
}

.single-input-secondary {
    display: block;
    width: 100%;
    line-height: 40px;
    border: 1px solid transparent;
    outline: none;
    background: #f9f9ff;
    padding: 0 20px
}

.single-input-secondary:focus {
    outline: none;
    border: 1px solid #f09359
}


/*  */

.form-select {
	height: 40px;
	width: 100%
}

.form-select .nice-select {
	border: none;
	border-radius: 0px;
	height: 50px;
	border: 1px solid #cdcd;
    background: #ffffff;
	padding-left: 45px;
	padding-right: 40px;
	width: 100%
}

.form-select .nice-select .list {
	margin-top: 0;
	border: none;
	border-radius: 0px;
	box-shadow: none;
	    border: 1px solid #cdcd;
	width: 100%;
	padding: 10px 0 10px 0px
}

.form-select .nice-select .list .option {
	font-weight: 300;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	line-height: 28px;
	min-height: 28px;
	font-size: 12px;
	padding-left: 45px
}

.form-select .nice-select .list .option.selected {
	color: #1f2b7b;
	background: transparent
}

.form-select .nice-select .list .option:hover {
	color: #1f2b7b;
	background: transparent
}

.form-select .current {
	margin-right: 50px;
	font-weight: 300
}

.form-select .nice-select::after {
	right: 20px
}

.mt-10 {
	margin-top: 10px
}

.section-top-border {
	padding: 50px 0;
	border-top: 1px dotted #eee
}

.mb-30 {
	margin-bottom: 30px
}

.mt-30 {
	margin-top: 30px
}

.switch-wrap {
	margin-bottom: 10px;
	float:left;
}



.single-input {
	display: block;
    width: 100%;
    line-height: 50px;
    border: none;
    outline: none;
    border: 1px solid #cdcd;
    background: #ffffff;
    padding: 0 20px;
}

.single-input:focus {
	outline: none
}

.input-group-icon {
	position: relative
}

.input-group-icon .icon {
	position: absolute;
	left: 20px;
	top: 4px;
	line-height: 40px;
	z-index: 3
}

.input-group-icon .icon i {
	color: #797979
}

.input-group-icon .single-input {
	padding-left: 45px
}

.single-textarea {
	display: block;
	width: 100%;
	line-height: 40px;
	border: none;
	outline: none;
	background: #f9f9ff;
	padding: 0 20px;
	height: 100px;
	resize: none
}

.single-textarea:focus {
	outline: none
}

.single-input-primary {
	display: block;
	width: 100%;
	line-height: 40px;
	border: 1px solid transparent;
	outline: none;
	background: #f9f9ff;
	padding: 0 20px
}

.single-input-primary:focus {
	outline: none;
	border: 1px solid #1f2b7b
}

.single-input-accent {
	display: block;
	width: 100%;
	line-height: 40px;
	border: 1px solid transparent;
	outline: none;
	background: #f9f9ff;
	padding: 0 20px
}

.single-input-accent:focus {
	outline: none;
	border: 1px solid #eb6b55
}

.single-input-secondary {
	display: block;
	width: 100%;
	line-height: 40px;
	border: 1px solid transparent;
	outline: none;
	background: #f9f9ff;
	padding: 0 20px
}

.single-input-secondary:focus {
	outline: none;
	border: 1px solid #f09359
}


.mt-20{
    margin-top: 20px;
}


/*  */


.fleft {
    float: left;
}

.iconbutton {
    padding: 15px;
    border-radius: 10px;
    margin-left: 20px;
    background: #3c6271;

    color: #fff !important;

}



.button-group-area .genric-btn {
	margin-right: 10px;
	margin-top: 10px
}

.button-group-area .genric-btn:last-child {
	margin-right: 0
}

.genric-btn {
	display: inline-block;
	outline: none;
	line-height: 40px;
	
	font-size: 1em;
	text-align: center;
	text-decoration: none;
	font-weight: 500;
	cursor: pointer;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s
}

.genric-btn:focus {
	outline: none
}

.genric-btn.e-large {
	padding: 0 40px;
	line-height: 50px
}

.genric-btn.large {
	line-height: 45px
}

.genric-btn.medium {
	line-height: 30px
}

.genric-btn.small {
	line-height: 25px
}

.genric-btn.radius {
	border-radius: 3px
}

.genric-btn.circle {
	border-radius: 8px
}

.genric-btn.arrow {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}

.genric-btn.arrow span {
	margin-left: 10px
}

.genric-btn.default {
	color: #415094;
	background: #f9f9ff;
	border: 1px solid transparent
}

.genric-btn.default:hover {
	border: 1px solid #f9f9ff;
	background: #fff
}

.genric-btn.default-border {
	border: 1px solid #f9f9ff;
	background: #fff
}

.genric-btn.default-border:hover {
	color: #415094;
	background: #f9f9ff;
	border: 1px solid transparent
}

.genric-btn.primary {
    color: #3d6779;
    border: 2px solid #3d6779db;
    margin-top: 25px;
    width: 46%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    text-align: center;
}

select {
    word-wrap: normal;
    width: 100%;
    border: none;
}


.switch-wrap p {
    float: left;
    margin-left: 15px;
    margin-top: 5px;
}


.primary-checkbox {
    width: 20px;
    height: 20px;
    border-radius: 3px;
    position: relative;
    border: 1px solid #010b1d;
    cursor: pointer;
    top: 10px;
}


.primary-checkbox input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
	z-index: 1;
	border: none;
    /* opacity: 0; */
}


.iconbutton a{
	color: white !important;
}