.job-title ul {
    padding-left: 30px;
}

.single-job-items {
    padding: 15px 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    border: 1px solid #39677838;
    margin-bottom: 12px;
}