.single-job-items {
	padding: 15px 15px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	-webkit-transition: .4s;
	-moz-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
	    border: 1px solid #39677838;
    margin-bottom: 12px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.single-job-items {
		padding: 20px 7px
	}
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
	.single-job-items {
		padding: 20px 25px
	}
}

.single-job-items .company-img img {
	overflow: hidden;
	float: left;
	margin-right: 32px;
	z-index: 999;
	border: 1px solid #5c8164;
}

@media (max-width: 767px) {
	.single-job-items .job-tittle {
		padding-top: 25px
	}
}

.single-job-items .job-tittle a h4 {
	color: #5c8164;
	font-size: 18px;
	-webkit-transition: .4s;
	-moz-transition: .4s;
	-o-transition: .4s;
	transition: .4s
}

.single-job-items .job-tittle a h4:hover {
	color: #8b92dd
}

.single-job-items .job-tittle ul li {
	display: inline-block;
	margin-right: 48px;
	font-size: 15px;
	color: #808080;
	line-height: 1.8
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.single-job-items .job-tittle ul li {
		margin-right: 18px
	}
}

@media (max-width: 767px) {
	.single-job-items .job-tittle ul li {
		margin-right: 0px;
		margin-bottom: 7px
	}
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
	.single-job-items .job-tittle ul li {
		margin-right: 8px
	}
}

.single-job-items .job-tittle ul li:last-child {
	margin-right: 0px
}

.single-job-items .job-tittle ul li i {
	font-size: 14px;
	color: #bbbbbb;
	margin-right: 10px
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.single-job-items .job-tittle2 {
		padding-top: 25px
	}
}

.single-job-items:hover {
	box-shadow: 0px 22px 57px 0px rgba(34, 41, 72, 0.05)
}

.single-job-items .job-items {
	display: flex;
	flex-wrap: wrap
}


.Full-time-btn {
    font-size: 13px;
    text-align: center;
    line-height: 20px;
    letter-spacing: normal;
    color: #74884b;
    background-color: #ffffff;
    border: 1px solid #74884b;
    border-radius: 20px;
    padding: 6px 15px;
    margin: 3px;
    transition: 0.4s;
}

.Full-time-btn:hover{
   
    color: #ffffff;
    background-color: #74884b;
}


.items-link{
    gap: 10px;
    display : flex;
    justify-content : center;
    align-items : center;
    flex-direction: column;
}