.jobsimg{border-radius: 50%;
    
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.mb-30{
    margin-bottom: 30px;
}

.section-top-border{
    padding: 50px 0px;
}

.section-top-border p {
    font-family: "Muli", sans-serif;
    color: #506172;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 15px;
    font-weight: normal;
  }


  @media screen and (max-width:700px) {
    .section-top-border p {
       text-align: center;
      }

      .section-top-border img{
        text-align: center;

      }

      .section-top-border h3{
        text-align: center;
        margin: 10px;
      }
  }