.shape {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-radius: 15px;
  padding: 10px;
  margin-top: 10px;
  border: 3px solid #8faa46;
}

.info-group {
  width: calc(25% - 20px);
  /* Calculate width for each box (25% - margin) */
  margin: 10px;
  /* Add margin to create space between the boxes */
  padding: 5px;
  background-color: #f9f9f9;
  border-radius: 10px;
  display: flex;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  align-items: center;
  justify-content: center;
}

.hind-small {
  display: none;
  background-color: #3C6779;
  color: #ffff;
  padding: 4px;
  font-size: 18px;
}


.job-req-img {
  width: 170px;
  text-align: center;
}


.title-img-hide {
  width: 70%;
}

.top-shape {
  text-align: center;
}






.checkbox {
  margin-top: 10px;
  appearance: none;
  width: 29px;
  height: 29px;
  aspect-ratio: 1;
  border-radius: 8px;
  border: 2px solid #8faa46;
  position: relative;
  transition: all 0.2s ease-in-out;
}

.checkbox::before {
  font-family: "Quicksand", sans-serif;
  position: absolute;
  bottom: -9px;
  left: 1px;
  content: "✔";
  font-size: 40px;
  color: rgb(255, 153, 0);
  transform: scale(0);
  transition: all 0.2s ease-in-out;
}

.checkbox:checked::before {
  animation: zoom 0.5s ease-in-out;
  transform: scale(1);
}

@keyframes zoom {
  0% {
    transform: scale(0);
  }

  20% {
    transform: scale(1.5);
  }

  40% {
    transform: scale(0.5);
  }

  50% {
    transform: scale(1);
  }

  70% {
    transform: scale(1.2);
  }

  90% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
  }
}

/* 
  @media (min-width: 1200px) {
    .info-group{
        width: 350px;
        height: 100px;
    }
    .test{
        height: 80vh;
    }
  }
  @media only screen and (max-width: 540px) {

    .shape{
      height: 700px !important;
      flex-wrap: wrap !important;
      border: 2px solid blue;
      display: flex;
      flex-direction: row;
    }

    .info-group{
      border: 2px solid green;
      height: 80px !important;
      width: 150px !important;
    }
    /* .top-shape {
        width: 90%;
        margin-right: 100px;
    
    
    }
    .top-shape h5{
        font-size: 12px;
        margin-top: 30px;
        margin-left: 40px;
        width: 80%;
    } */




.candidate-btn-div {
  text-align: center;
}

.candidate-btn-div button {
  padding: 8px 12px;
}




@media (max-width: 768px) {
  .info-group {
    width: calc(50% - 20px);
    /* 2 boxes per row */
  }

  .checkbox {
    
    width: 19px;
    height: 19px;
    
    
  }

  .checkbox::before {
  font-size: 25px;
  }
  


  .title-img-hide {
    display: none;
  }

  .hind-small {
    display: block;
  }
}
